# This configuration file enables all new features in recent versions of MySQL.
# These are stable and supported, but don't all have a full migration path
# from earlier installations.  These settings should be used for new applications.

[mysqld_safe]

# A best practice is to set all servers to GMT, and in the presentation
# layer customize times for users
# Requires timezone DB installation
# timezone=GMT

[mysql]

# Change the prompt of the MySQL client to be more useful
prompt="\u@\h [\d] > "

[mysqld]

##################################################################
# InnoDB Settings
# http://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html
###################################################################

innodb_checksum_algorithm = crc32       # Provides CPU accelerated checksum computation
innodb_page_cleaners = 4                # Improves InnoDB background work performance
innodb_purge_threads = 4                # Improves InnoDB internal cleanup performance
innodb_strict_mode = ON                 # Guards better against typos and syntax errors
innodb_log_file_size = 128M             # Larger redo log files have better performance
innodb_buffer_pool_dump_at_shutdown = 1 # Faster restarts
innodb_buffer_pool_dump_pct = 20        # Faster restarts
innodb_file_format = Barracuda	        # Allows new features such as compression
innodb_large_prefix = 1			# Allows larger indexes

transaction_isolation = READ-COMMITTED           # Performance (requires Row-based Replication)
innodb_autoinc_lock_mode = 2            # "Interleaved" (requires Row-based Replication)

# These settings can only be enabled on initialization
# innodb_undo_tablespaces = 4
# @config around undo truncation

##################################################################
# Replication Settings 
# http://dev.mysql.com/doc/refman/5.7/en/replication-options-slave.html
# http://dev.mysql.com/doc/refman/5.1/en/replication-options-master.html
##################################################################

# Server ID is required to be set for Binary Logging to be enabled
# It must also be unique, so may need to be overwritten later.
server-id=1

log-bin=1                              # Enable Binary Logging
binlog-format=ROW                      # Safe for all statements
binlog_rows_query_log_events=ON        # Include queries for debugging
# introduced in 5.7.6 (not yet released)
# binlog_error_action = ABORT_SERVER     # Safest option
slave_parallel_type = LOGICAL_CLOCK    # Performance
slave_parallel_workers = 4             # Performance
log_slave_updates = 1                  # Allows topology changes
gtid_mode = ON                          # Allows topology changes
# Introduced 5.7.6:
# binlog_gtid_recovery_simplified = 1    # Performance
enforce_gtid_consistency = 1           # Safety.  Disallows some statements.
sync_binlog = 1                        # Safety
master-info-repository = TABLE         # Safety
relay-log-info-repository = TABLE      # Safety
relay_log_recovery = ON                # Safety
slave_net_timeout = 60                 # Faster failure detection
binlog_row_image = MINIMAL             # Requires less space
expire_logs_days=10                    # Cleanup binlogs after 10 days

####################
# General Behavior #
####################

# Add No auto create user (security) to the sql modes that default
# to MySQL 5.7:

sql-mode="STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,ONLY_FULL_GROUP_BY,NO_AUTO_CREATE_USER"

# The internet is utf8.  Setting this helps ensure that accented and foreign
# characters are stored correctly.

character-set-server=utf8mb4
collation-server=utf8mb4_general_ci 

# Do not do a reverse lookup on connections coming into MySQL for authentication.
# This is better for performance, but means that usernames can no longer contain
# hostnames (IP addresses are fine)

skip-name-resolve

# Allow a greater number of connection errors before banning a user

max-connect-errors=100000

# The query cache is disabled by default, but allocates 1M of memory.
# This sets the memory to 0M

query-cache-size=0

# For most modern applications, a 2 second query is already a magnitude higher
# than the average query.  The default in MySQL is 10 seconds.

long_query_time=2

# Queries that do not use any indexes will likely degrade in performance as
# data grows or can no longer fit in memory.  For this reason we should
# log them to the slow query log even if they do not exceed 2 seconds.
# That is unless they examine less than 100 rows.

log-queries-not-using-indexes=1
min-examined-row-limit=100
