# This configuration file makes a MySQL 5.5 server behave like a MySQL 5.6 server.
# This allows you to prepare for new default settings that are enabled
# by default in 5.6+, and may assist in upgrades.
#
# Most of the changes to configuration are documented here:
# https://blogs.oracle.com/supportingmysql/entry/server_defaults_changes_in_mysql

[mysqld]

##################################################################
# InnoDB Settings
# http://dev.mysql.com/doc/refman/5.5/en/innodb-parameters.html
###################################################################

innodb_autoextend_increment	= 64  # Increase ibdata1 64MB at a time
innodb_buffer_pool_instances = 8  # Performance
innodb_concurrency_tickets = 5000 # Performance
innodb_file_per_table = 1         # Easier Management
innodb_purge_batch_size	= 300     # Performance
innodb_purge_threads = 1          # Performance
innodb_stats_on_metadata = 0      # Prevents ANALYZE implicitly being run
innodb_old_blocks_time = 1000     # Reduces side-impact of tablescans

# This option is commented out only because  MySQL 5.5 can not restart normally
# After the log file size has been changed.  It is recommended to follow the advice
# in this blog post to increase it:
# http://www.percona.com/blog/2011/07/09/how-to-change-innodb_log_file_size-safely/
# innodb_log_file_size = 48M

##########################################################################
# Replication Settings 
# http://dev.mysql.com/doc/refman/5.5/en/replication-options-slave.html
# http://dev.mysql.com/doc/refman/5.5/en/replication-options-master.html
##########################################################################

binlog-row-event-max-size = 8K
sync_master_info = 10000
sync_relay_log = 10000
sync_relay_log_info = 10000

####################
# General Behavior #
####################

# The new password format was first available in MySQL 4.1, but not
# all mysql drivers supported it.
# MySQL 5.6 disallows the old password format by default (secure_auth=1).
# MySQL 5.7 removes all support for the old password format.

secure_auth = 1 

# MySQL 5.6 is the first version to disable the query cache by default.
# Previous versions of MySQL often had it enabled, but with 0M allocated
# to it.  In many cases this will effectively mean zero change.

query_cache_size = 1M 
query_cache_type = 0

# MySQL 5.6 enables the NO_ENGINE_SUBSTITUTION sql mode as a compiled default.
# In many of the configuration files that shipped with MySQL 5.6, the STRICT_TRANS_TABLES
# SQL mode was also enabled (but this was not a compiled default).

sql_mode = "NO_ENGINE_SUBSTITUTION"

# The performance_schema is enabled by default in MySQL 5.6.
# In MySQL 5.6, overhead for performance schema is much lower, and the
# number of performance_schema tables is much higher.
# The 5.5 version of performance_schema is mainly only useful to MySQL developers.

performance_schema = ON

# MySQL 5.6 tunes many various buffers and caches to be larger for performance
# These do not usually result in a large change of behaviour.
# Some of these settings now "auto-size".  For simplicity, the auto-sized values
# of a default 5.6 installation are used.

back_log = 81
flush_time = 0
join_buffer_size = 256K
max_allowed_packet = 1M
max_connect_errors = 100
open_files_limit = 5000
sort_buffer_size = 256K
table_definition_cache = 1400
table_open_cache = 2000
thread_cache_size = 10

# @TODO:
# Need to investigate:
# - optimizer_switch behaviour to be compatible with 5.6?
# - default_tmp_storage_engine
# - explicit_defaults_for_timestamp
# - innodb_adaptive_flushing_lwm
# - innodb_change_buffer_max_size
# - innodb_compression_pad_pct_max
# - innodb_compression_level
# - innodb_sort_buffer_size
# - innodb_stats_auto_recalc
# - innodb_sync_array_size
# - innodb_undo_logs
# - max_seeks_for_key
# - max_write_lock_count
# - myisam_max_sort_file_size
# - myisam_mmap_size
# - metadata_locks_hash_instances
# - slave_allow_batching
# - slave_checkpoint_group
# - slave_checkpoint_period
# - slave_sql_verify_checksum
# - sql_low_priority_updates
# - sql_max_join_size
